@import '../../../../styles/partials/index.scss';

@include register-component {
  .icon {
    background-image: from-theme(primary-gradient);
  }
}

.filter-button {
  text-transform: uppercase;
  display: flex;
  align-items: center;
  height: 100%;
  cursor: pointer;

  .icon {
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    display: flex;
  }
}