<section class="info__container">
  <div class="info__top-background"></div>

  <div class="info__list">
    <div class="info__item">
      <div class="info__icon earn"></div>
      <div class="info__title">
        {{ 'LEADER_BOARD.EARN_TITLE' | translate }}
      </div>
      <div class="info__description">
        {{ 'LEADER_BOARD.EARN_DESCRIPTION' | translate }}
      </div>
    </div>

    <div class="info__item">
      <div class="info__icon reward"></div>
      <div class="info__title">
        {{ 'LEADER_BOARD.REWARD_TITLE' | translate }}
      </div>
      <div class="info__description">
        {{ 'LEADER_BOARD.REWARD_DESCRIPTION' | translate }}
      </div>
    </div>

    <div class="info__item">
      <div class="info__icon leaderboard"></div>
      <div class="info__title">
        {{ 'LEADER_BOARD.LEADERBOARD_TITLE' | translate }}
      </div>
      <div class="info__description">
        {{ 'LEADER_BOARD.LEADERBOARD_DESCRIPTION' | translate }}
      </div>
    </div>
  </div>

  <div class="info__bottom-background"></div>
</section>
