// @import '../../../../styles/concepts.scss';
@import '../../../../styles/variables.scss';
@import '../../../../styles/partials/index.scss';


.deposit-info {
  max-width: 900px;

  .right-double {
    font-size: 19px;
    height: 5px;
    top: -3px;
    position: relative;
  }

  &__content {
    width: calc(100% / 2 - 10px);
    margin-bottom: 70px;

    h3 {
      text-transform: uppercase;
    }

    p {
      font-family: Roboto;
      color: $colorSecondaryShuttleGray;
      font-size: 16px;
    }
  }

  &__content-icons {
    width: calc(100% / 3);
  }

  &__image {
    width: 100%;

    &.boxes {
      width: 85%;
    }
  }

  &__image-open-box {
    width: 60%;
  }

  &__icon {
    width: 65px;
  }

  &__rarety {
    background-image: url('/assets/images/deposit-info/shape.svg');
    background-size: contain;
    width: 294px;
    height: 28px;
    margin: auto;
    background-repeat: no-repeat;
    text-align: center;
    margin-bottom: 50px;
    color: $colorPrimaryWhite;

    &__start-unboxing {
      .mat-button.btn-linear {
        min-width: 312px;
      }
    }
    &-content {
      h3 {
        font-size: 25px;
      }
      p {
        font-size: 18px;
      }
    }
  }

  &__conclusion {
    h3 {
      font-weight: 900;
      font-size: 35px;
    }
  }
}

@media (min-width: 767px) {

  .deposit-info {

    &__conclusion {
      h3 {
        font-size: 25px;
      }
    }
    &__rarety {

      &:before,
      &:after {
        content: '';
        display: inline-block;
        vertical-align: middle;
        box-sizing: border-box;
        width: 90%;
        height: 1px;
        background: $colorSecondaryTurquoise;
      }

      &:before {
        margin-left: -100%;
        margin-right: 18px;
      }

      &:after {
        margin-right: -100%;
        margin-left: 18px;
      }
    }
  }
}

@media (min-width: 767px) and (max-width: 1024px) {

  .deposit-info {

    &__conclusion {
      h3 {
        font-size: 25px;
      }
    }
    &__content {
      margin-bottom: 30px;
      height: 100%;
    }

    &__image-open-box {
      width: 55%;
    }

    &__image {

      &.boxes {
        width: 75%;
      }
    }

    &__icon {
      width: 55px;
    }

    &__rarety {
      margin-bottom: 20px;
    }

    h2 {
      margin: 8px 0;
    }
  }
}

@media (max-width: 767px) {

  .flex-center_mobile {
    display: flex;
    justify-content: center;

    .mobile-first {
      order: 1;
    }

    .mobile-second {
      order: 2;
    }
  }

  .deposit-info {
    width: 100%;

    &__conclusion {
      h3 {
        font-size: 25px;
      }
    }

    &__content {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-bottom: 30px;

      h2 {
        text-align: center;
      }

      p {
        line-height: 1.31;
        letter-spacing: 0.3px;
      }
    }

    &__content-icons {
      width: calc(100% / 2);
      justify-content: center;
      flex-direction: column;
      justify-content: center;
    }

    &__image-open-box {
      width: 35%;
    }

    &__image {
      &.mobile {
        width: 70%;
      }

      &.boxes {
        width: 60%;
      }
    }

    &__icon {
      width: 55px;
    }
  }
}
