@import '../../../../styles/partials/index.scss';
@import '../../../../styles/concepts.scss';
@import '../../../../styles/variables.scss';

@include register-component {
  .case-wrapper {
    background-color: from-theme(background);
    color: from-theme(color);

    &.background-case-image {
      border: 2px solid from-theme(case-items-border);
    }

    &__price,
    &__data-title {
      color: from-theme(text-color);
    }
  }
}

.case-wrapper {
  position: relative;
  max-width: 160px;
  max-height: 200px;
  background-color: $colorPrimaryWhite;
  box-shadow: $shadow5;
  border-radius: 4px;
  border: 2px solid transparent;
  transition: .3s all ease-in-out;
  padding: 17px 0 19px;
  cursor: pointer;

  &.background-case-image {
    background-image: url('/assets/images/pattern.png');
    background-repeat: no-repeat;
    background-position: -55px;
    background-size: cover;
  }

  &:hover,
  &.active-item {
    border: 2px solid rgba(243, 71, 71, 1);;

    .case-wrapper__bottom-border {
      left: 0;
      right: 0;
    }

    .case-wrapper__view {
      opacity: 1;
    }
  }

  * {
    line-height: 1;
  }

  &.small {
    width: 140px;
    height: 176px;
  }

  &.spinner {
    width: 160px;
    height: 180px;
    box-shadow: none;
  }

  &.active-case {
    border-color: $colorSecondaryBrightRed;
  }

  &__view {
    opacity: 0;
    transition: .3s opacity ease-in-out;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
  }

  &__active {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: hexToRGBA($colorSecondaryBrightRed, 0.7);
    border: 2px solid;
    border-radius: 4px;
    border-color: rgba(243, 73, 73, 1);

    .check-icon {
      color: $colorPrimaryWhite;
      width: 47px;
      height: 47px;
      font-size: 47px;
    }

    .selected-createCase {
      width: 122px;
      height: 35px;
      border-radius: 100px;
      border: 2px solid #fff;
      color: #fff;
      padding: 10px;
      text-align: center;
      background-color: rgba(130, 62, 52, 0.5);
    }
  }

  .case-img {
    @extend %bg-image;
    width: 100px;
    height: 84px;
  }

  &__checkmark {
    position: absolute;
    top: 0;
    right: 3px;
    width: 30px;
    height: 30px;

    .mat-icon {
      width: 23px;
      height: 23px;
      font-size: 23px;
    }
  }

  &__price {
    width: 100%;
    font-size: 16px;
    font-weight: 500;
    color: $colorSecondaryDarkGray;
    min-height: 20px;
    height: 20px;
    padding: 0 10px;
    text-align: center;

    .odd {
      display: none;
      font-size: 10px;
      color: $colorSecondaryDarkBorder;
      text-align: right;
    }

    &.odd-visible {
      .odd {
        display: block;
      }

      .value {
        display: none;
      }
    }
  }

  &__data {
    width: 100%;
    min-height: 50px;
    padding: 0 5px;
    color: inherit;
    text-align: center;

    &.small-height {
      min-height: 30px;
    }
  }

  &__data-title {
    @extend %text-elipsis;
    @extend .p-md;
    padding: 0 10px;
    margin-bottom: 10px;
    line-height: 1.15 !important;
  }

  &__data-type {
    @extend .l-md;
    @extend %text-elipsis;
    text-transform: uppercase;
  }

  &__bottom-border {
    height: 2px;
    background: currentColor;
    position: absolute;
    left: -1px;
    bottom: -2px;
    right: -1px;
    transition: .1s all ease-in-out;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
  }

  &__loading-background {
    position: absolute;
    width: 100%;
    height: 100%;
    background: currentColor;
    opacity: 0.7;
    margin-top: 1px;
  }

  &__loading-spinner {
    position: absolute;
  }

  &:after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60px;
    filter: blur(10px);
    background: linear-gradient(to bottom, currentColor 0%, currentColor 100%);
    opacity: 0.07;
    pointer-events: none;
    z-index: 0;
  }

  ::ng-deep .mat-progress-spinner,
  .mat-spinner {
    circle {
      stroke: $colorPrimaryWhite !important;
    }
  }
}

.odd-mobile {
  font-size: 10px;
  color: $colorSecondaryDarkBorder;
  text-align: right;
}

@media (min-width: 813px) {
  .case-wrapper:hover {
    .case-wrapper__price {
      .value {
        display: none;
      }

      .odd {
        display: block;
      }
    }
  }
}

@media (max-width: 767px) {
  .case-wrapper {
    padding: 10px 0;

    &.background-case-image {
      border-radius: 0;
      background-image: none;

      &:hover,
      &.active-item {
        border: 2px solid rgba(243, 71, 71, 1);
      }
    }

    &__price {
      padding: 0 5px;
      font-size: 13px;
    }

    &__data {
      &-title {
        font-size: 12px;

        &-type {
          font-size: 11px;
        }
      }
    }

    &__checkmark {
      width: 15px;
      height: 15px;

      .mat-icon {
        width: 15px;
        height: 15px;
        font-size: 15px;
      }
    }

    .case-img {
      width: 60px;
      height: 60px;
    }
  }
}
