<div class="review-instruction">
  <div class="flex-col review-instruction__wrapper">
    <div class="flex-col flex-col__btw review-instruction__content">
      <span class="review-instruction__img sneakers"></span>
      <p class="review-instruction__title">{{ 'REVIEW_INSTRUCTION.AUTHENTIC_ITEMS_TITLE' | translate }}</p>
      <span class="review-instruction__description">
        {{ 'REVIEW_INSTRUCTION.AUTHENTIC_ITEMS_DESCRIPTION' | translate }}
      </span>
    </div>
  </div>

  <div class="flex-col review-instruction__wrapper">
    <div class="flex-col flex-col__btw review-instruction__content">
      <span class="review-instruction__img sell"></span>
      <p class="review-instruction__title">{{ 'REVIEW_INSTRUCTION.SELL_ITEMS_TITLE' | translate }}</p>
      <span class="review-instruction__description">
        {{ 'REVIEW_INSTRUCTION.SELL_ITEMS_DESCRIPTION' | translate }}
      </span>
    </div>
  </div>

  <div class="flex-col review-instruction__wrapper">
    <div class="flex-col flex-col__btw review-instruction__content">
      <span class="review-instruction__img shipping"></span>
      <p class="review-instruction__title">{{ 'REVIEW_INSTRUCTION.SHIPPING_TITLE' | translate }}</p>
      <span class="review-instruction__description">
        {{ 'REVIEW_INSTRUCTION.SHIPPING_DESCRIPTION' | translate }}
      </span>
    </div>
  </div>
</div>

