<div class="mobile-modal-section flex-col">
  <p class="mobile-modal-section__text">
    {{'FORGOT_PASSWORD.PAGE_SUB_TITLE' | translate }}!
  </p>

  <form [formGroup]="forgotPassword" (ngSubmit)="reset()" class="flex-col login-form">
    <div class="login-inputs login-inputs-group">
      <mat-form-field class="height-all email login-form-field">
        <span matPrefix>E-mail </span>
        <input matInput type="email" formControlName="email" email>
      </mat-form-field>
    </div>
  </form>

  <div class="mobile-modal-section__actions mobile-modal-section__submit flex-row">
    <button *ngIf="!(loading$ | async); else resetLoading" type="submit" mat-button class="btn-linear btn-square"
      [disabled]="forgotPassword.invalid" (click)="reset()">
      {{'FORGOT_PASSWORD.RESET_PASSWORD' | translate }}
    </button>
    <ng-template #resetLoading>
      <button type="button" mat-button class="btn-linear btn-square flex-row flex-row__center">
        <div class="flex-row flex-row__center">
          <mat-spinner mode="indeterminate" class="skinworld-customized"></mat-spinner>
        </div>
      </button>
    </ng-template>
    <button type="button" mat-button class="btn-outline-gray btn-square" (click)="onChangePage(MobileMenu.logIn)">
      {{'FORGOT_PASSWORD.RERURN_TO_LOGIN' | translate }}
    </button>
  </div>

  <p class="mobile-modal-section__text">{{'FORGOT_PASSWORD.FOOTER_MESSAGE' | translate }}
    <span class="skinworld-terms" (click)="goToPage('/contact-us')">{{'FORGOT_PASSWORD.HERE' | translate }}</span>.
  </p>

  <p class="mobile-modal-section__text mobile-modal-section__text-big" (click)="goToPage('/support')">{{'FORGOT_PASSWORD.FAQ' | translate }}</p>

  <p class="mobile-modal-section__text mobile-modal-section__text-big" (click)="goToPage('/tos')">{{'FORGOT_PASSWORD.TERMS' | translate }}</p>
</div>
