<div class="op-container">
  <div class="flex-col flex-coll__center wrapper">
    <div class="img">
      <img src="/assets/images/unavailable.svg">
    </div>
    <h1 >{{'NOT_AVAILABLE_PAGE.NOT_AVAILABLE' | translate }}</h1>
    <p [innerHTML]="'NOT_AVAILABLE_PAGE.MESSAGE' | translate"></p>
    <div class="social-icons">
      <a href="https://www.facebook.com/LootieCom/" target="_blank">
        <img src="/assets/images/icons/fb-icon.svg">
      </a>
      <a href="https://twitter.com/LootieCom" target="_blank">
        <img class="twitter" src="/assets/images/icons/twitter-icon.svg">
      </a>
      <a href="https://www.instagram.com/lootiecom" target="_blank">
       <img src="/assets/images/icons/instagram-icon.svg">
       </a>
    </div>
  </div>
</div>