<div id="contact-us" class="page-container">
  <div class="page-title center m-b-50">
    {{'CONTACT_US.PAGE_TITLE' | translate }}
  </div>

  <div class="cu">
    <div class="cu-content">
      <hr>
      <div class="p-lg">
        <span class="cu-content__text">{{'CONTACT_US.TWITTER' | translate }}: </span>
        <a class="link inline blue-link" href="https://twitter.com/LootieCom" target="_target">
          {{'CONTACT_US.LOOTIECOM' | translate }}
        </a><br>
        <span class="cu-content__text">{{'CONTACT_US.E_MAIL' | translate }}: </span>
        <a class="link inline" href="mailto:support@lootie.com" target="_target">
            support@lootie.com
        </a><br>
        <span class="cu-content__text">{{'CONTACT_US.ZENDESK' | translate }}:</span>
        <button class="btn-small btn-linear" (click)="onToggleZendesk()">{{'CONTACT_US.TOGGLE' | translate }}</button><br>
        <span class="cu-content__text">{{'CONTACT_US.PHONE_NUMBER' | translate }}: </span>
        <a class="link inline blue-link" href="tel:+4774615040" target="_target">
            +4774615040
        </a><br>
      </div>
    </div>
  </div>
</div>
