@import './variables';

.sb-button {
  margin: 0;

  .sb-wrapper {
    width: 26px;
    min-width: 26px;
    height: 26px;
    line-height: 1;
    border-radius: 50%;
    border: 2px solid $colorSecondaryDarkerGray;
    background-size: contain;
    cursor: pointer;

    .sb-icon {
      font-size: 1em;
      min-width: 1em;
      color: $colorSecondaryDarkerGray;

      svg.svg-inline--fa.fa-twitter.fa-w-16.fa-fw {
        width: 10px;
      }

      svg.svg-inline--fa.fa-facebook-f.fa-w-9.fa-fw {
        width: 6px;
      }
    }
  }
}