@import "../../../../../styles/partials/index.scss";
@import "../../../../../styles/concepts.scss";

@include register-component {
  .forgot-form {
    &__support {
      color: #4d6168;

      & > a {
        color: #f4743c;
      }
    }

    &__return-login {
      color: from-theme(auth-return-login-color);
    }

    &__title {
      color: from-theme(auth-forgot-form-title-color);
      border-bottom: 1px solid from-theme(auth-forgot-form-title-border);
    }

    &__actions {
      .btn-square {
        color: #ffffff;
      }
    }
  }

  ::ng-deep {
    .form-field {
      .mat-form-field-wrapper {
        .mat-form-field-flex {
          .mat-form-field-prefix {
            color: from-theme(auth-mat-form-field-prefix-color);
          }

          .mat-form-field-infix {
            .mat-input-element {
              color: #82969d !important;
              border: solid 1px from-theme(auth-mat-input-element-border);
              background: from-theme(auth-mat-input-element-background) !important;

              &:active,
              &:focus {
                border: solid 1px from-theme(auth-mat-input-element-border-active);
              }
            }
          }
        }
      }
    }
  }
}

.forgot-form {
  &__successful {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__successful-icon {
    width: 25px;
    height: 25px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("/assets/images/icons/done.svg");
    margin-bottom: 20px;
  }

  &__successful-title {
    font-size: 14px;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.14px;
    color: #27ae60;
    margin-bottom: 16px;
  }

  &__successful-desc {
    font-size: 13px;
    font-style: italic;
    line-height: normal;
    letter-spacing: 0.13px;
    color: #779099;
    margin-bottom: 32px;
  }

  &__support {
    font-size: 14px;
    line-height: 1.3;
    letter-spacing: 0.13px;
    margin-bottom: 30px;
    text-align: center;

    & > a {
      text-decoration: underline;
    }
  }

  &__return-login {
    font-size: 13px;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.12px;
    cursor: pointer;
  }

  &__title {
    font-size: 17px;
    font-weight: 500;
    letter-spacing: 0.17px;
    width: 100%;
    padding-bottom: 10px;
    margin-bottom: 25px;
  }

  &__actions {
    width: 100%;

    .btn-square {
      width: 100%;
      margin: 0;
      font-size: 16px !important;
      font-weight: bold;
      line-height: 1.06;
      letter-spacing: 0.5px;
      text-transform: uppercase;
    }
  }
}

.dialog-section {
  width: 100%;

  &__content {
    width: 100%;
    padding: 0 6px;

    .inputs-group {
      width: 100%;
    }
  }
}

::ng-deep {
  .form-field {
    width: 100%;

    .mat-form-field-wrapper {
      padding-bottom: 20px;

      .mat-form-field-subscript-wrapper {
        position: relative;
      }

      .mat-form-field-flex {
        display: flex;
        flex-direction: column;

        .mat-form-field-prefix {
          margin: 0 0 6px 0;
          font-size: 11px;
          font-weight: bold;
          letter-spacing: 0.22px;
        }

        .mat-form-field-infix {
          width: 100%;

          .mat-input-element {
            padding: 11px 10px;
            font-size: 15px;
            line-height: normal;
            letter-spacing: 0.15px;
            border-radius: 4px;
          }
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .forgot-form {
    &__successful {
    }

    &__successful-icon {
    }

    &__successful-title {
    }

    &__successful-desc {
    }

    &__support {
      font-size: 15px;
      line-height: 1.53;
      letter-spacing: 0.3px;
      margin-bottom: 50px;
    }

    &__return-login {
      font-size: 17px;
      letter-spacing: 0.26px;
    }

    &__title {
      text-align: center;
      margin: 0 25px 25px 25px;
      width: calc(100% - 50px);
    }

    &__actions {
      margin-bottom: 40px;

      .btn-square {
        height: 40px;
        font-size: 14px !important;
        padding: 0;
      }
    }
  }

  .dialog-section {
    padding-top: 25px;

    &__content {
      padding: 0 10px;
    }
  }
}
