<div class="flex-row forgot-form mat-mode">
  <form [formGroup]="forgotPassword" (ngSubmit)="reset()" class="dialog-section flex-col">
    <div class="forgot-form__title">{{ 'FORGOT_PASSWORD.TITLE' | translate }}</div>
    <div class="dialog-section__content flex-col">
      <div class="inputs-group" *ngIf="!isReset">
        <mat-form-field class="height-all email form-field">
          <span matPrefix>E-mail </span>
          <input matInput type="email" formControlName="email" email>
          <mat-error *ngIf="email.errors && email.errors.pattern">
            {{'FORGOT_PASSWORD.INVALID_EMAIL' | translate }}
          </mat-error>
        </mat-form-field>
      </div>

      <div class="forgot-form__successful" *ngIf="isReset">
        <div class="forgot-form__successful-icon"></div>
        <div class="forgot-form__successful-title">
          {{ 'FORGOT_PASSWORD.PAGE_TITLE' | translate }}
        </div>
        <div class="forgot-form__successful-desc">
          {{ 'FORGOT_PASSWORD.PAGE_SUB_TITLE' | translate }}
        </div>
      </div>

      <div class="forgot-form__actions flex-row flex-row__center m-b-25">
        <button *ngIf="!isReset" type="submit" [disabled]="forgotPassword.invalid" mat-button
          class="height-all btn-large btn-linear btn-square">{{'FORGOT_PASSWORD.RESET_PASSWORD' | translate }}</button>
        <button *ngIf="isReset" type="button" mat-button (click)="openLogin()"
            class="height-all btn-large btn-linear btn-square">
            {{'FORGOT_PASSWORD.RETURN_TO_LOGIN' | translate }}
        </button>
      </div>

      <div class="forgot-form__support">
        {{ 'FORGOT_PASSWORD.HAVE_EMAIL' | translate }} <br>
        <a href="contact-us">{{ 'FORGOT_PASSWORD.CONTACT_SUPPORT' | translate }}</a>
      </div>

      <div class="forgot-form__return-login" (click)="openLogin()" *ngIf="!isReset">
        {{'FORGOT_PASSWORD.RERURN_TO_LOGIN' | translate }}
      </div>
    </div>
  </form>
</div>
