@import '../styles/partials/index.scss';

@include register-component() {
  .theme {
    color: from-theme(color);
    background-color: from-theme(background-container);
    background: from-theme(help-background) center center;
    background-size: 115%;
  }

  .component-container {
    .giveaway  {
      button {
        background: from-theme(giveaway-button-background);
        display: inline-block;
        white-space: nowrap;
        text-decoration: none;
        vertical-align: baseline;
        text-align: center;
        box-sizing: border-box;
        position: relative;
        height: 30px;
      }
    }
  }

  .theme.theme-mobile {
    background: from-theme(help-background-mobile) center center;
    background-size: 115%;
  }

  .app-wrapper {
    background-color: from-theme(background-container);
  }
}

.app-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  min-height: 100vh;
}

main {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  background-size: cover;
  max-width: 100vw;
  height: calc(100vh - 100px);
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  will-change: scroll-position;
  -webkit-overflow-scrolling: touch;

  &.full-height {
    height: 100vh !important;
  }

  &.noscroll {
    overflow: hidden;
  }

  .component-container {
    min-height: calc(100vh - 155px);
    will-change: transform;

    .giveaway  {
      margin: 20px;

      button {
        width: 100%;
        letter-spacing: 4px;
        padding: 0;
        border-radius: 1px;
        border: 1px solid transparent;
        margin-right: 50px;

        &:after {
          content: '';
          background: linear-gradient(107deg, #f48836, #f4364c 100%);
          height: 32px;
          position: absolute;
          top: -2px;
          bottom: -2px;
          left: -2px;
          right: -2px;
          z-index: -1;
          border-radius: 2px;
        }

        & > span {
          background-image: linear-gradient(105deg, #f48836, #f4364c);
          font-size: 14px;
          line-height: 1.38;
          letter-spacing: 4px;
          font-weight: 400;
          -webkit-background-clip: text;
          background-clip: text;
          -webkit-text-fill-color: transparent;
        }
      }
    }
  }

}

.loader-routing-bar {
  position: fixed;
  top: 0;
  z-index: 1001;
  width: 100%;
}

.progress-line {
  height: 4px;
  animation: processLoad 1s linear infinite;
  background: linear-gradient(109deg, #f48836, #f4364c);
}

::ng-deep {
  .hide-help-btn {
    #launcher {
      display: none !important;
    }
  }
}

@keyframes processLoad {
  0% {
    width: 0%;
  }

  100% {
    width: 100%;
  }
}

@media(max-width: 767px) {
  ::ng-deep {
    // .slider-container {
    //   margin-left: 58px;
    // }
  }
}