<div class="brief-instruction__title">
  <span>{{'BRIEF_INSTRUCTION.GET_STARTED' | translate }}</span>
</div>

<div class="flex-row flex-row__btw brief-instruction m-b-40">
  <div class="flex-col brief-instruction__wrapper">
    <span class="brief-instruction__count">01</span>
    <div class="flex-col flex-col__center brief-instruction__box">
      <img src="assets/images/brief-instruction/sign-up.png" alt="">
      <span>{{'BRIEF_INSTRUCTION.CREATE_NEW_ACCOUNT' | translate }}</span>
    </div>
  </div>

  <div class="brief-instruction__divider"></div>

  <div class="flex-col brief-instruction__wrapper">
    <span class="brief-instruction__count">02</span>
    <div class="flex-col flex-col__btw brief-instruction__box">
      <img src="assets/images/brief-instruction/wallet.png" alt="">
      <span style="width: 50px;">{{'BRIEF_INSTRUCTION.ADD_FUNDS' | translate }}</span>
    </div>
  </div>

  <div class="brief-instruction__divider"></div>

  <div class="flex-col brief-instruction__wrapper">
    <span class="brief-instruction__count">03</span>
    <div class="flex-col flex-col__btw brief-instruction__box">
      <img src="assets/images/brief-instruction/open-box.png" alt="">
      <span>{{'BRIEF_INSTRUCTION.OPEN_MYSTERY_BOX' | translate }}</span>
    </div>
  </div>

  <div class="brief-instruction__divider"></div>

  <div class="flex-col brief-instruction__wrapper">
    <span class="brief-instruction__count">04</span>
    <div class="flex-col flex-col__btw brief-instruction__box">
      <img src="assets/images/brief-instruction/exchange.png" alt="">
      <span>{{'BRIEF_INSTRUCTION.EXCHANGE_SELL_KEEP_ITEMS' | translate }}</span>
    </div>
  </div>

  <div class="brief-instruction__divider"></div>

  <div class="flex-col brief-instruction__wrapper">
    <span class="brief-instruction__count">05</span>
    <div class="flex-col flex-col__center brief-instruction__box">
      <img src="assets/images/brief-instruction/shipped.png" alt="">
      <span>{{'BRIEF_INSTRUCTION.SHIPPED_TO' | translate }}</span>
    </div>
  </div>
</div>
