<section class="info__content">
  <div class="info__border-bottom info__border-top info__content-info">
    <h3>{{'PRODUCT_INFO.DESCRIPTION' | translate }}</h3>
    <p>{{'PRODUCT_INFO.MESSAGE' | translate }}.</p>
  </div>
  <div class="info__content-info info__border-bottom">
    <h3>{{'PRODUCT_INFO.SIZES' | translate }}:</h3>
    <app-product-variants></app-product-variants>
  </div>
  <div class="info__content-info">
    <h3>{{'PRODUCT_INFO.SHIPPING_INFORMATION' | translate }}</h3>
    <p>{{'PRODUCT_INFO.ESTIMATED_DELIVERY_COST' | translate }}.</p>
  </div>
</section>
