@import '../../../../styles/partials/index.scss';
@import '../../../../styles/concepts.scss';
@import '../../../../styles/variables.scss';

@include register-component {
  .reset-password {
    max-width: 1132px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__form {
      padding: 80px 0;
    }

    &__inputs-group {
      width: 500px;
    }

    &__actions {
      .btn-square {
        box-shadow: none;
      }
    }

    &__title,
    &__inputs-group {
      color: from-theme(color);

      &.top {
        margin-bottom: 32px;
      }

    }

  }

  ::ng-deep {
    .form-field {
      border: 2px solid from-theme(border-color);
      transition: .3s all ease-in-out;
    }

    .mat-form-field-invalid {
      border-color: $colorSecondaryBrightRed;
    }
  }
}

.mat-form-field.m-b {
  margin-bottom: 18px;
}

:host {
  ::ng-deep {
    .form-field {
      height: 47px;
      width: 100%;
      border-radius: 4px;
      box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.05);

      .mat-form-field-prefix {
        @extend .l-md;
        margin-left: 25px;
        width: 150px;
        text-transform: uppercase;
        margin-top: 15px;
        opacity: .4;
        color: from-theme(border-color);
      }

      .mat-form-field-infix {
        font-weight: normal;
        letter-spacing: 0.6px;
        border-top: none;
        color: from-theme(color);

        .mat-select-value {
          text-transform: uppercase;
          font-weight: 500;
        }
      }

      .mat-form-field-underline {
        display: none;
      }

      :disabled {
        color: unset !important;
      }

      .mat-form-field-subscript-wrapper {
        font-size: 12px;
        top: calc(100% - 10px);
      }
    }
  }
}
