<div class="reset-password" class="page-container">
  <form [formGroup]="resetPasswordForm" (ngSubmit)="reset()" class="reset-password__form flex-col">
    <div class="reset-password__title page-subtitle top">
      {{'RESET_PASSWORD.PAGE_SUB_TITLE' | translate }}
    </div>

    <div class="reset-password__inputs-group">
      <mat-form-field class="height-all form-field m-b">
        <span matPrefix>{{'RESET_PASSWORD.E_MAIL' | translate }}</span>
        <input matInput type="email" formControlName="email" email>
      </mat-form-field>

      <mat-form-field class="height-all form-field m-b">
        <span matPrefix>{{'RESET_PASSWORD.NEW_PASSWORD' | translate }}</span>
        <input matInput type="password" formControlName="newPassword">
        <mat-error *ngIf="passCtrl.errors?.minlength">
          {{'RESET_PASSWORD.PASSWORD_INVALID' | translate }}
        </mat-error>
      </mat-form-field>

      <mat-form-field class="height-all form-field m-b">
        <span matPrefix>{{'RESET_PASSWORD.REPEAT_PASSWORD' | translate }}</span>
        <input matInput type="password" formControlName="passwordConfirm" [errorStateMatcher]="matcher">
        <mat-error *ngIf="resetPasswordForm.hasError('notSame')">
          {{'RESET_PASSWORD.PASSWORD_ERROR' | translate }}
        </mat-error>
      </mat-form-field>
    </div>

    <div class="reset-password__actions flex-row flex-row__center m-b-25">
      <button type="submit" [disabled]="resetPasswordForm.invalid" mat-button class="height-all btn-large btn-linear btn-square">{{'RESET_PASSWORD.CHANGE_PASSWORD' | translate }}</button>
    </div>
  </form>
</div>