<div class="flex-row flex-row__btw deposit-instruction m-b-20">
  <div class="flex-col deposit-instruction__wrapper">
    <span class="deposit-instruction__count">01</span>
    <div class="flex-col flex-col__center deposit-instruction__box">
      <img src="assets/images/select.svg">
      <span>{{'DEPOSIT_INSTRUCTION.SELECT_AMOUNT' | translate }}</span>
    </div>
  </div>

  <div class="deposit-instruction__divider"></div>

  <div class="flex-col deposit-instruction__wrapper">
    <span class="deposit-instruction__count">02</span>
    <div class="flex-col flex-col__btw deposit-instruction__box">
      <img src="assets/images/go-to.svg">
      <span style="width: 50px;">{{'DEPOSIT_INSTRUCTION.GO_TO_GAMIVO' | translate }}</span>
    </div>
  </div>

  <div class="deposit-instruction__divider"></div>

  <div class="flex-col deposit-instruction__wrapper">
    <span class="deposit-instruction__count">03</span>
    <div class="flex-col flex-col__btw deposit-instruction__box">
      <img src="assets/images/gift-card.svg">
      <span>{{'DEPOSIT_INSTRUCTION.PURCHASE_GIFT_CARD' | translate }}</span>
    </div>
  </div>

  <div class="deposit-instruction__divider"></div>

  <div class="flex-col deposit-instruction__wrapper">
    <span class="deposit-instruction__count">04</span>
    <div class="flex-col flex-col__btw deposit-instruction__box">
      <img src="assets/images/apply.svg">
      <span>{{'DEPOSIT_INSTRUCTION.REDEEM_THE_KEY' | translate }}</span>
    </div>
  </div>
</div>
