@import '../../../../styles/partials/index.scss';
@import '../../../../styles/concepts.scss';
@import '../../../../styles/variables.scss';

@include register-component {
  .mobile-modal-section {
    background-color: from-theme(background-header);
    color: from-theme(color);
  }
  .login-form{
    color: from-theme(color);
  }
  .btn-square{
    color: from-theme(color);
  }
}
.mobile-modal-section {
  justify-content: space-around;
  height: 100%;
  font-size: 12.5px;
  margin-bottom: 50px;

  &__text {
    text-align: center;
    line-height: 1.86;
    font-size: 14px;
    margin: 0;

    .skinworld-terms {
      color: $colorSecondaryBrightOrange;
      cursor: pointer;
    }

    &.mb-30 {
      margin-bottom: 30px;
    }
  }

  &__actions {
    width: 100%;

    .btn-square {
      margin-bottom: 15px;
    }

    .btn-outline-gray {
      margin-left: 13px;
    }
  }

  &__submit {
    flex-wrap: nowrap;

    .btn-square {
      margin-bottom: 0;
    }
  }

  .login-form {

    .login-inputs {
      width: 100%;

      &:not(:last-child) {
        margin-bottom: 30px;
      }
    }

    ::ng-deep {
      .login-form-field {
        border: 2px solid rgba($colorPrimaryWhite, 0.2);
        transition: .3s all ease-in-out;
      }

      .mat-form-field-invalid {
        border-color: $colorSecondaryBrightRed;
      }
    }
  }
}

:host {
  ::ng-deep {
    .login-form-field {
      height: 44px;
      width: 100%;
      border-radius: 25px;
      box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.05);

      &:not(:last-child) {
        margin-bottom: 16px;
      }

      .mat-form-field-prefix {
        @extend .l-md;
        margin-left: 25px;
        width: 105px;
        text-transform: uppercase;
        margin-top: 15px;
        opacity: .4;
        color: from-theme(border-color);
      }

      .mat-form-field-infix {
        font-weight: normal;
        letter-spacing: 0.6px;
        border-top: none;
        color: from-theme(color);

        .mat-select-value {
          text-transform: uppercase;
          font-weight: 500;
        }
      }

      .mat-form-field-underline {
        display: none;
      }

      .mat-form-field-subscript-wrapper {
        font-size: 12px;
        top: calc(100% - 10px);
      }
    }
  }
}

.btn-square {
  @extend .l-md;
  width: 100%;
  height: 52px;
  font-size: 11.5px;
  border-radius: 25px !important;
  padding: 13px 20px !important;
  text-transform: uppercase;
  white-space: nowrap;
  transition: .3s all ease-in-out;

  &.btn-outline-gray {
    border: 2px solid rgba($colorPrimaryWhite, 0.2);
  }
}
