<div class="dialog-wrapper mat-mode">
    <button mat-dialog-close>
        <mat-icon>close</mat-icon>
      </button>
 <div class="title">{{'CHAT_RULES.PAGE_TITLE' | translate }}</div>
 <div class="text">{{'CHAT_RULES.RULE1' | translate }}.</div>
 <div class="line"></div>
 <div class="text">{{'CHAT_RULES.RULE2' | translate }}.</div>
 <div class="line"></div>
 <div class="text">{{'CHAT_RULES.RULE3' | translate }}.</div>
 <div class="line"></div>
 <div class="text">{{'CHAT_RULES.RULE4' | translate }}.</div>
 <div class="line"></div>
 <div class="text">{{'CHAT_RULES.RULE5' | translate }}.</div>
 <div class="line"></div>
 <div class="text">{{'CHAT_RULES.RULE6' | translate }}.</div>
</div>